<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="SpecificationDatabase" connectionString="Server=localhost;Port=3306;Database=closure_table_specs;User=root" />
  </connectionStrings>
  <appSettings>
    <add key="SpecDbPasswordEnvVar" value="SPEC_DB_PASSWORD" />
  </appSettings>
</configuration>
